# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# Frontend (Node)
node_modules/

# Webpack output
group_selection_xblock/frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
